<div class="modal-body">

  <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" placeholder="Enter email" formControlName="username">
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <alert *ngIf="username.errors.required" type="danger">
          This is a required field
        </alert>
        <alert *ngIf="username.errors.email" type="danger">
          Please enter a valid email
        </alert>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Password</label>
      <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <alert *ngIf="password.errors.required" type="danger">
            This is a required field
          </alert>
        </div>
      </div>
    </div>

    <button class="btn btn-outline-secondary btn-block">Sign in</button>
  </form>
  <alert *ngIf="feedBack" [type]="feedBack?.type === 'error' ? 'danger' : 'success'">
    {{feedBack.message}}
  </alert>
</div>

