<div class="card mb-2 product" [class.active]="rla.isActive">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-fluid" [src]="environment.imgUrl + product.img" alt="Card image cap">
      </div>

      <div class="col-sm-8">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.text}}</p>
      </div>
      <a 
        class="btn btn-outline btn-outline-secondary w-100 mt-2" 
        [routerLink]="['/products', product.id]"
        routerLinkActive 
        #rla="routerLinkActive">
        Details
      </a>
    </div>
  </div>
</div>

