<form (ngSubmit)="onPostReview()" #reviewForm="ngForm" class="mb-2">
  <rating [(ngModel)]="rate" [max]="5" [readonly]="false" name="rating"></rating>
  <alert *ngIf="isRateInvalid === true" type="info">
    Rate should be at least 0.5
  </alert>

  <textarea 
    name="review"
    [(ngModel)]="reviewText" 
    #reviewCtrl="ngModel" 
    class="form-control mt-1" 
    rows="3" 
    minlength="5" 
    required
    >
  </textarea>
  <div *ngIf="reviewCtrl.invalid && (reviewCtrl.dirty || reviewCtrl.touched)">
    <alert *ngIf="reviewCtrl.errors.minlength" type="danger">
      Review text should be at least 5 characters long
    </alert>
    <alert *ngIf="reviewCtrl.errors.required" type="danger">
      This is a required field
    </alert>
  </div>
  
  <button [disabled]="reviewCtrl.invalid" class="btn btn-outline-secondary">
    Post review
  </button>
</form>