<div *ngIf="!reviewsLoading; else loading">
  <h4>Reviews</h4>
  <app-add-product-review 
    *ngIf="(isAuthenticated$ | async).isAuthenticated"
    (reviewAdded)="onAddReview($event)"
    >
  </app-add-product-review>
  <hr>

  <div *ngIf="productReviews?.length === 0; else reviewsList">
    <h4>No reviews yet...</h4>
  </div>
  <ng-template #reviewsList>
    <app-product-review *ngFor="let productReview of productReviews" [productReview]="productReview"></app-product-review>
  </ng-template>
</div>

<ng-template #loading>
  <div class="mt-2">
    Loading product reviews...
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>