<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products list</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <ng-container *ngIf="!(isAuthenticated$ | async).isAuthenticated">
          <li class="nav-item">
            <a class="nav-link auth-link" (click)="onSignIn()">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link auth-link" (click)="onSignUp()">Sign up</a>
          </li>
        </ng-container>
        
        <li class="nav-item" *ngIf="(isAuthenticated$ | async).isAuthenticated">
          <a class="nav-link auth-link" (click)="onSignOut()">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>