<div class="modal-body">

    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" placeholder="Enter email" formControlName="username" required>
        
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
          <alert *ngIf="username.errors.required" type="danger">
            This is a required field
          </alert>
          <alert *ngIf="username.errors.email" type="danger">
            Please enter a valid email
          </alert>
        </div>
      </div>
  
      <div class="form-group">
        <label for="exampleInputEmail1">Password</label>
        <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <alert *ngIf="password.errors.required" type="danger">
            This is a required field
          </alert>
        </div>
      </div>
  
      <button class="btn btn-outline-secondary btn-block">Sign up</button>

      <ng-container *ngIf="feedBack">
        <alert [type]="feedBack?.result === 'success' ? 'success' : 'danger'">
          {{feedBack?.message}}
        </alert>
        <button class="btn btn-outline-secondary btn-block" (click)="onNavigateToMain()">To the main page</button>
      </ng-container>
    </form>
  
  </div>