<div class="modal-header">
  <h4>Sorry, something went wrong</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalReference.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{message}}
</div>