<div *ngIf="!productDetailsLoading; else loading">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <img class="img-fluid" [src]="environment.imgUrl + product.img" alt="product image"/>
        </div>
        
        <div class="col-sm-8">
          <h5 class="card-title">{{product?.title}}</h5>
          <p class="card-text">{{product?.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div #loading>
  <ng-template #loading>
    Loading product details...
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>

<div class="mt-1">
  <app-product-reviews></app-product-reviews>
</div>
