<div class="container py-2">
  <div *ngIf="!isLoading; else loading" class="row">
    <div class="col-md-6 col-lg-4">
      <app-product 
        *ngFor="let product of products;"
        [product]="product"
        >
      </app-product>
    </div>

    <div class="col-md-6 col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-template #loading>
    Loading products list...
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>
