<div class="card mb-2">
  <div class="card-body">
    <ng-container *ngIf="productReview?.rate">
      <rating *ngIf="productReview.rate" [(ngModel)]="productReview.rate" [max]="5" [readonly]="true"></rating>
    </ng-container>
    <br>
    {{productReview?.text}}
  </div>
</div>